PORT=8741

MONGO_URI=mongodb://localhost:27017/f1_platform

CASSANDRA_HOST=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=f1_telemetry
CASSANDRA_DC=datacenter1

DGRAPH_URL=localhost:9080

FRONTEND_URL=http://localhost:5173
